<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication15.Properties.Settings.vidDBConnectionString"
            connectionString="Data Source=wks-11\sqlexpress;Initial Catalog=vidDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>